# Python
__pycache__/
*.pyc

# Data
DATA/

# Checkpoints
*.pth
*.pt
*.ckpt
checkpoints/

# Experiment outputs
outputs/
results/
logs/
runs/
wandb/

# Environment
.venv/
venv/

# Hidden Files
.env

# IDE
.vscode/
.idea/